{% block testimony %}
<div class="page-header">
  	<h2 class="text-muted"> Testimonios </h2>
</div>


<div class="row">
    <div class="col-md-4">
      	<div class="well" style="background-color:#fff">
	        <blockquote>
	          	<h6 class="text-center">
	            	<img src="{{ asset('bundles/ibkdemo/img/img128x128.png') }}" class="img-circle" width="100px">
	          	</h6>
	          	<h5 class="text-center">CEO Ibanku</h5>
	          	<footer>This is a template for a simple marketing or informational website. This is a template for a simple marketing or informational website.</footer>
	        </blockquote>
      	</div>
    </div>

    <div class="col-md-4">
      	<div class="well" style="background-color:#fff">
        	<blockquote style="border-left: 0px solid #eee;">
	          	<h6 class="text-center">
	            	<img src="{{ asset('bundles/ibkdemo/img/img128x128.png') }}" class="img-circle" width="100px">
	          	</h6>
	          	<h5 class="text-center">CEO Ibanku</h5>
	          	<footer>This is a template for a simple marketing or informational website. This is a template for a simple marketing or informational website.</footer>
        	</blockquote>
      	</div>
    </div>


    <div class="col-md-4">
      	<div class="well" style="background-color:#fff">
        	<blockquote class="blockquote-reverse">
	          	<h6 class="text-center">
	            	<img src="{{ asset('bundles/ibkdemo/img/img128x128.png') }}" class="img-circle" width="100px">
	          	</h6>
	          	<h5 class="text-center">CEO Ibanku</h5>
	          	<footer>This is a template for a simple marketing or informational website. This is a template for a simple marketing or informational website informational.</footer>
        	</blockquote>
      	</div>
    </div>
</div>


{% endblock %}