{% block footer %}
{#<link rel="stylesheet" href="{{ asset('bundles/ibkdemo/footer-stick/footer-stick.css') }}">#}
  	<!-- FOOTER -->

  	<footer class="footer" style="background-color:#0091B2">
	  	<div class="container">
		  	<h6 class="text-center">
		  		<img src="{{ asset('bundles/ibkdemo/img/footer/logo.png') }}" width="90px">
	  		</h6>

	  		<div class="col-md-8">
	  			<h6 style="color:#fff">&copy; Ibanku, Inc. &middot; <a href="#" style="color:#ddd">Todos los Derechos reservados</a> &middot; <a href="#" style="color:#ddd">Terms</a>&emsp;-&emsp;contacto@ibanku.cl&emsp;-&emsp;Chile. {{"now"|date("Y")}}</h6>
	  		</div>

	  		<div class="col-md-4">
	  			<p class="pull-right">
		    		<a href="#">
			    		<span class="fa-stack">
				    		<i class="fa fa-circle fa-stack-2x" style="color:#fff"></i>
				    		<i class="fa fa-facebook fa-stack-1x fa-inverse" style="color:#0091B2"></i>
			    		</span>
		    		</a>
		    		<a href="#">
			    		<span class="fa-stack">
				    		<i class="fa fa-circle fa-stack-2x" style="color:#fff"></i>
				    		<i class="fa fa-twitter fa-stack-1x fa-inverse" style="color:#0091B2"></i>
			    		</span>
		    		</a>
				</p>
	  		</div>

    	</div>
  	</footer>
{% endblock %}