{% extends 'IBKDemoBundle:Layout:page_datos.html.twig' %}

{% block title %}Contraseña{% endblock %}
{% block subtitle %}Cambiar Contraseña{% endblock %}


{% block datos %}
{# alerta resultado del formulario #}
    {% if flag == 1 %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <i class="fa fa-check-circle"></i>&nbsp;<strong>Finalizado!</strong>&nbsp;cambios realizados con exito
        </div>
    {% elseif flag == 0 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;ocurrio un error al guardar los cambios
        </div>
    {% elseif flag == 2 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;Ingrese Contraseña actual válida
        </div>
    {% endif %}



	<form id="formPassword" action="{{path('_edit_password')}}" method="POST" role="form">

		<div class="form-group">
            <label class="text-info">Contraseña Actual</label>
            <input type="password" class="form-control" name="_password" placeholder="Contraseña" autofocus required />
	    </div>
    	
    	{% if app.user %}
    		<a href="{{path('_profile_secured_resend')}}">¿olvidaste tu contraseña?</a>
    	{% else %}
    		<a href="{{path('_secured_resend')}}">¿olvidaste tu contraseña?</a>
    	{% endif %}

	    <hr>

	    <div class="form-group">
            <label class="text-info">Nueva Contraseña</label>
            <input type="password" class="form-control" name="_passwordNew" pattern=".{4,}" placeholder="Contraseña"autofocus required />
	    </div>

	    <div class="form-group">
            <input type="password" class="form-control" name="_confirmPasswordNew" pattern=".{4,}" placeholder="Confirmar Contraseña" autofocus required />
	    </div>
				

		<div class="modal-footer">
	        <button type="submit" id="btn-contraseña" class="btn btn-primary"><i class="fa fa-lock"></i>&nbsp;Guardar</button>
	    </div>
	</form>

<script type="text/javascript">
    $(document).ready(function(){
        exist();

        $('#formPassword').formValidation({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                _password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required and can\'t be empty'
                        }
                    }
                }, 
                _passwordNew: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required and can\'t be empty'
                        }
                    }
                },
                _confirmPasswordNew: {
                    validators: {
                        notEmpty: {
                            message: 'The confirm password is required and can\'t be empty'
                        },
                        identical: {
                            field: '_passwordNew',
                            message: 'The password and its confirm are not the same'
                        }
                    }
                }
            }
        });
       
        function exist(){
            if($('.alert') != null ){
                setTimeout(function(){ $('.alert').hide(1000); }, 5000);
            }
        };
    })
</script>
{% endblock %}